node_modules
.env*

# Ignore test-related files
/coverage
coverage

# Build files
dist
build
cjs
esm
lib

## Panda
styled-system
!/packages/styled-system
/packages/styled-system/**/*
!/packages/styled-system/package.json
styled-system-studio