node_modules
.env*

# Ignore test-related files
/coverage
coverage

# Build files
dist
build
cjs
esm
lib
panda-info

## Panda
styled-system
!/packages/styled-system
/packages/styled-system/**/*
!/packages/styled-system/package.json
styled-system-studio

## Storybook
storybook-static

## Other
.turbo
*.tgz